::placeholder{
  padding-left: 25px;
  text-align: center;
  font-size: 14px;
  color: gray;
  background-position: 40%;
  background-repeat: no-repeat;
  background-image:url(../assets/search-solid.svg);
}
body {
  background: rgb(var(--ig-primary-background));
}
.rightpanel  {
  background-color:white;
}
.postuserfont1 {
  float: right;
}
#sticky-sidebar {
  width: 25rem !important;
  border: none;
  position: fixed;
}
div.card-footer>span>strong {
  float: right;
}
.card-header .card-footer {
  background-color: white;
}
.container1 {
  max-height: 200px !important;
}
.navbar1 {
  height: 54px;
  background-color:white;

}
.card>.list-group {
  border: none;
}
.cardbody1 {
  display: flex;
  width: auto;
}
.navbaricon {
  margin-left: 192px;
}
input.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    background-color: #FAFAFA;
}

.postuserfont {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  color: black;
}


.storyphoto {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid rgb(238, 39, 82);
  margin-right: 7px;
}

.storytext {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  color: black;
}

.rightpanellinks {
  text-decoration: none;
  color: lightgrey;
}

.rightpanellinks:hover {
  text-decoration: none;
  color: lightgrey;
}